AI Lead Processing Agent.json
{
  "name": "AI Lead Processing Agent",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sfOA5102rWMMs34_F3QTIaD1v9_N0w6tAzjA5R-w72c/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sfOA5102rWMMs34_F3QTIaD1v9_N0w6tAzjA5R-w72c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $('Extract Contacts').item.json.extracted.date }}",
            "Имя": "={{ $('Extract Contacts').item.json.extracted.firstName }}",
            "username": "={{ $('Extract Contacts').item.json.extracted.username }}",
            "Сообщение": "={{ $('Extract Contacts').item.json.extracted.originalMessage }}",
            "Температура": "={{ $('Extract Contacts').item.json.temperature }}",
            "Причина": "={{ $('Extract Contacts').item.json.reason }}",
            "Телефон": "={{ $('Extract Contacts').item.json.extracted.phone }}",
            "Email": "={{ $('Extract Contacts').item.json.extracted.email }}",
            "Статус": "Новый",
            "Источник": "={{ $('Extract Contacts').item.json.extracted.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Имя",
              "displayName": "Имя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Сообщение",
              "displayName": "Сообщение",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Температура",
              "displayName": "Температура",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Причина",
              "displayName": "Причина",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Телефон",
              "displayName": "Телефон",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус",
              "displayName": "Статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Источник",
              "displayName": "Источник",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        -608
      ],
      "id": "7cb314ca-e695-4515-b078-6211f9856a5c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J9i793A3S5vdil3F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        -640
      ],
      "id": "35a3b382-3aea-4b6c-bbae-abbe091294f2",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q42fDDKqNr2ZATsH",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02f94f1f-132f-49e8-9b83-80f27f878094",
              "name": "userMessage",
              "value": "={{ $json.message?.text || $json.callback_query?.data || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        -768
      ],
      "id": "6aecaf52-4092-46eb-9df9-049850032249",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst userMessage = input.message?.text || input.callback_query?.data || '';\n\nconst companyName = \"WebPro Studio\";\nconst businessType = \"создание сайтов и веб-приложений\";\nconst managerName = \"Александр\";\nconst responseTime = \"в течение 30 минут\";\nconst workingHoursStart = 9;\nconst workingHoursEnd = 18;\nconst timezone = 3;\n\nconst now = new Date();\nconst localHour = (now.getUTCHours() + timezone) % 24;\nconst dayOfWeek = now.getUTCDay();\nconst isWeekend = dayOfWeek === 0 || dayOfWeek === 6;\nconst isWorkingHours = localHour >= workingHoursStart && localHour < workingHoursEnd && !isWeekend;\n\nconst timeInstruction = isWorkingHours \n  ? `Менеджер ${managerName} свяжется ${responseTime}.`\n  : `Сейчас нерабочее время. Менеджер ${managerName} свяжется с вами в рабочие часы (Пн-Пт ${workingHoursStart}:00-${workingHoursEnd}:00 МСК).`;\n\nconst systemPrompt = `Ты — дружелюбный ассистент компании \"${companyName}\".\nМы занимаемся: ${businessType}.\nМенеджера зовут: ${managerName}.\n\nТВОЯ ЗАДАЧА: определи температуру лида и напиши естественный ответ клиенту.\n\nТЕМПЕРАТУРА:\n- HOT = оставил контакты (телефон, имя), хочет купить, заказать, спрашивает цену\n- WARM = интересуется, задаёт вопросы о услугах, хочет узнать больше\n- COLD = просто приветствие, /start, случайное сообщение\n\nВАЖНЫЕ ПРАВИЛА:\n1. Если клиент УЖЕ оставил свои данные (имя, телефон, что хочет) — поблагодари и скажи что менеджер свяжется. НЕ проси данные повторно!\n2. Если клиент только спрашивает — можно попросить контакты\n3. Пиши коротко и естественно, как живой человек\n4. Не повторяй данные клиента в ответе (не пиши его номер телефона обратно)\n\nПРИМЕРЫ:\n\nКлиент: \"Анна, хочу сайт, +7 999 123 45 67\"\nОтвет: \"Спасибо, Анна! Заявка принята. ${timeInstruction}\"\n\nКлиент: \"Сколько стоит лендинг?\"\nОтвет: \"Стоимость лендинга от 30 000 ₽, зависит от сложности. Оставьте номер телефона — менеджер расскажет подробнее и рассчитает точную стоимость.\"\n\nКлиент: \"Привет\"\nОтвет: \"Здравствуйте! Я помощник ${companyName}. Чем могу помочь?\"\n\nФОРМАТ ОТВЕТА (строго JSON):\n{\"temperature\": \"HOT\", \"reason\": \"краткая причина\", \"reply\": \"твой ответ\"}`;\n\nreturn [{\n  json: {\n    body: {\n      model: \"llama-3.1-8b-instant\",\n      messages: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\", content: userMessage }\n      ]\n    },\n    originalMessage: userMessage,\n    isWorkingHours: isWorkingHours\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -640
      ],
      "id": "19a92686-fc3f-4552-b678-2694e7e325f7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "53b1f790-6bef-4b54-aecd-48eaa64894bf",
              "leftValue": "={{ $json.temperature }}",
              "rightValue": "COLD",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        -656
      ],
      "id": "d60f6c3e-0365-4c64-922d-a0e69f882941",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nlet temperature = 'COLD';\nlet reason = 'Не удалось определить';\nlet reply = 'Здравствуйте! Спасибо за обращение. Наш менеджер свяжется с вами в ближайшее время.';\n\ntry {\n  const content = response.choices[0].message.content;\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  \n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    \n    if (parsed.temperature && ['HOT', 'WARM', 'COLD'].includes(parsed.temperature.toUpperCase())) {\n      temperature = parsed.temperature.toUpperCase();\n    }\n    \n    if (parsed.reason) {\n      reason = parsed.reason;\n    }\n    \n    if (parsed.reply) {\n      reply = parsed.reply;\n    }\n  }\n} catch (error) {\n  console.log('Parse error:', error.message);\n}\n\nreturn [{\n  json: {\n    temperature: temperature,\n    reason: reason,\n    reply: reply,\n    originalResponse: response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -640
      ],
      "id": "99543b25-fe3d-4092-8e0b-e1aade05e6cf",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Start Trigger1').item.json.message.chat.id }},\n  \"text\": \"{{ $('Parse Response').item.json.reply }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        -576
      ],
      "id": "0772cf96-7363-469f-9bb1-3c111b903b4f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": 477704730,\n  \"text\": \"{{ $('Extract Contacts').item.json.temperature === 'HOT' ? '🔥 ГОРЯЧИЙ ЛИД!' : '🌤 ТЁПЛЫЙ ЛИД' }}\\n\\n👤 Имя: {{ $('Extract Contacts').item.json.extracted.firstName }}\\n📱 Username: @{{ $('Extract Contacts').item.json.extracted.username }}\\n🆔 User ID: {{ $('Extract Contacts').item.json.extracted.userId }}{{ $('Extract Contacts').item.json.extracted.phone ? '\\n\\n📞 Телефон: ' + $('Extract Contacts').item.json.extracted.phone : '' }}{{ $('Extract Contacts').item.json.extracted.email ? '\\n📧 Email: ' + $('Extract Contacts').item.json.extracted.email : '' }}\\n\\n💬 Сообщение: {{ $('Extract Contacts').item.json.extracted.originalMessage }}\\n\\n🌡 Температура: {{ $('Extract Contacts').item.json.temperature }}\\n📝 Причина: {{ $('Extract Contacts').item.json.reason }}\\n\\n⏰ {{ $('Extract Contacts').item.json.extracted.date }} {{ $('Extract Contacts').item.json.extracted.time }}\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [[{\"text\": \"💬 Написать клиенту\", \"url\": \"https://t.me/{{ $('Extract Contacts').item.json.extracted.username }}\"}]]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        -896
      ],
      "id": "a76b5ade-473d-4341-87a9-e73d91b35a0b",
      "name": "Notify Owner"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d3d8c6e7-310b-476a-8d47-a0b3d1baa610",
              "leftValue": "={{ $json.message?.text || '' }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2000,
        -864
      ],
      "id": "438e582d-0dfc-4d06-8820-5a39931b283f",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.message.chat.id }},\n  \"text\": \"👋 Добро пожаловать в WebPro Studio!\\n\\n🚀 Мы создаём современные сайты и веб-приложения.\\n\\n📌 Наши услуги:\\n• Лендинги — от 30 000 ₽\\n• Корпоративные сайты — от 60 000 ₽\\n• Интернет-магазины — от 100 000 ₽\\n• Веб-приложения — по договорённости\\n\\n🕐 Рабочие часы: Пн-Пт 9:00-18:00 (МСК)\\n\\nВыберите действие 👇\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [{\"text\": \"📝 Оставить заявку\", \"callback_data\": \"request\"}],\n      [{\"text\": \"💰 Подробнее о ценах\", \"callback_data\": \"prices\"}],\n      [{\"text\": \"📞 Контакты\", \"callback_data\": \"contact\"}, {\"text\": \"🖼 Портфолио\", \"callback_data\": \"portfolio\"}]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1792,
        -1024
      ],
      "id": "3b81f30c-6cbd-47ee-a402-90ad51738377",
      "name": "Welcome Message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "prices",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2166d416-449c-49bd-b3f6-5914c7ba4d07"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prices"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e0113dd0-037b-4a6b-8cad-137867a99eff",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "contact",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "contact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "56a4d719-e2de-4e66-b4f9-53e7a297c452",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "portfolio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "portfolio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d3a78422-4964-4554-a982-98754ad877f7",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "request"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1440,
        80
      ],
      "id": "1e69da23-9029-4d18-9753-9bebe3b393b8",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.callback_query.from.id }},\n  \"text\": \"💰 Наши цены:\\n\\n• Лендинг — от 30 000 ₽\\n• Корпоративный сайт — от 60 000 ₽\\n• Интернет-магазин — от 100 000 ₽\\n• Веб-приложение — по договорённости\\n\\n📞 Для точного расчёта напишите ваш запрос или оставьте номер телефона!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -704,
        -128
      ],
      "id": "42b89c4f-8d86-4b57-a217-074235a04526",
      "name": "Price Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.callback_query.from.id }},\n  \"text\": \"💰 Наши цены:\\n\\n• Лендинг — от 30 000 ₽\\n• Корпоративный сайт — от 60 000 ₽\\n• Интернет-магазин — от 100 000 ₽\\n• Веб-приложение — по договорённости\\n\\n📞 Для точного расчёта напишите ваш запрос или оставьте номер телефона!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        64
      ],
      "id": "d3c328a0-24fc-4d34-94b3-8cd3e638f45c",
      "name": "Contact Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.callback_query.from.id }},\n  \"text\": \"🖼 Наше портфолио:\\n\\n🔗 webpro.studio/portfolio\\n\\nНаши последние работы:\\n• Интернет-магазин одежды\\n• Корпоративный сайт IT-компании\\n• Лендинг для онлайн-курсов\\n\\nХотите обсудить похожий проект?\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        272
      ],
      "id": "98edf183-4a05-4c8b-a6a0-67a69112db10",
      "name": "Portfolio Response"
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2240,
        96
      ],
      "id": "4dc32fcd-3fe2-4c59-adc4-e539a8b0a43d",
      "name": "Telegram Trigger1",
      "webhookId": "b1ff1265-e9cf-46d6-89ff-a4cbb3bda4a4",
      "credentials": {
        "telegramApi": {
          "id": "ck0yCtHyUy19KDj6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2272,
        -864
      ],
      "id": "71e6cff5-552c-4be8-b74b-0e987c3812b7",
      "name": "Start Trigger1",
      "webhookId": "795f237a-9041-4470-b0e4-1aa872ebfb19",
      "credentials": {
        "telegramApi": {
          "id": "ck0yCtHyUy19KDj6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst editFieldsData = $('Edit Fields').first().json;\nconst userMessage = editFieldsData.userMessage || editFieldsData.message?.text || '';\n\nconst userData = editFieldsData.message?.from || {};\nconst chatData = editFieldsData.message?.chat || {};\n\nconst phoneRegex = /(?:\\+7|8|7)?[\\s\\-]?\\(?[0-9]{3}\\)?[\\s\\-]?[0-9]{3}[\\s\\-]?[0-9]{2}[\\s\\-]?[0-9]{2}|(?:\\+?[0-9]{10,15})/g;\nconst phones = userMessage.match(phoneRegex);\nconst phone = phones ? phones[0].replace(/[\\s\\-\\(\\)]/g, '') : '';\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\nconst emails = userMessage.match(emailRegex);\nconst email = emails ? emails[0] : '';\n\nconst now = new Date();\nconst moscowOffset = 3 * 60 * 60 * 1000;\nconst moscowTime = new Date(now.getTime() + moscowOffset);\n\nconst date = moscowTime.toISOString().split('T')[0];\nconst time = moscowTime.toISOString().split('T')[1].substring(0, 5);\n\nlet source = 'Сообщение';\nif (userMessage === '/start') {\n  source = 'Команда /start';\n} else if (userMessage === 'prices' || userMessage === 'contact' || userMessage === 'portfolio' || userMessage === 'request') {\n  source = 'Кнопка меню';\n}\n\nconst cleanMessage = userMessage.replace(/\\n/g, ' ').replace(/\"/g, \"'\").substring(0, 200);\n\nreturn [{\n  json: {\n    temperature: input.temperature,\n    reason: input.reason,\n    reply: input.reply,\n    extracted: {\n      phone: phone,\n      email: email,\n      date: date,\n      time: time,\n      userId: userData.id || chatData.id || '',\n      firstName: userData.first_name || chatData.first_name || '',\n      username: userData.username || chatData.username || '',\n      originalMessage: cleanMessage,\n      source: source\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -640
      ],
      "id": "77bd80a0-f006-4a2f-9b95-4ecf482ea506",
      "name": "Extract Contacts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.callback_query.from.id }},\n  \"text\": \"📝 Отлично! Чтобы оставить заявку, напишите:\\n\\n1️⃣ Ваше имя\\n2️⃣ Что вас интересует (лендинг, сайт, магазин)\\n3️⃣ Номер телефона для связи\\n\\nНаш менеджер свяжется с вами в ближайшее время! 🚀\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -704,
        528
      ],
      "id": "9cfbdeda-f294-4207-82e2-1d4d53afed4c",
      "name": "Request Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": 477704730,\n  \"text\": \"📝 НОВАЯ ЗАЯВКА!\\n\\n👤 Имя: {{ $json.callback_query.from.first_name }}\\n📱 Username: @{{ $json.callback_query.from.username }}\\n🆔 User ID: {{ $json.callback_query.from.id }}\\n\\n⏰ Клиент нажал кнопку 'Оставить заявку'\\n\\n📞 Ожидай сообщение с контактами!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        512
      ],
      "id": "40c18d90-a869-4241-aadf-914324942b06",
      "name": "Notify Request"
    },
    {
      "parameters": {
        "jsCode": "const message = $input.first().json;\nconst userId = message.message?.from?.id || message.message?.chat?.id || 0;\nconst userMessage = message.message?.text || '';\n\nif (userMessage === '/start') {\n  return [{\n    json: {\n      ...message,\n      isSpam: false,\n      spamReason: ''\n    }\n  }];\n}\n\nif (userMessage.length > 1000) {\n  return [{\n    json: {\n      ...message,\n      isSpam: true,\n      spamReason: 'Слишком длинное сообщение'\n    }\n  }];\n}\n\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\nconst urls = userMessage.match(urlRegex) || [];\nif (urls.length > 2) {\n  return [{\n    json: {\n      ...message,\n      isSpam: true,\n      spamReason: 'Много ссылок'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...message,\n    isSpam: false,\n    spamReason: ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -688
      ],
      "id": "85f3d9ed-6e79-4d13-868d-49640f11c7d0",
      "name": "Spam Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "93b9bce2-7ef6-48c0-a13f-026b101e6f05",
              "leftValue": "={{ $json.isSpam }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        -880
      ],
      "id": "07710071-8f90-4627-b971-16e8e999ef81",
      "name": "Is Spam"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "175c0945-2ae5-4749-b7a9-36700934733b",
              "leftValue": "={{ $json.extracted.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        -640
      ],
      "id": "cfc70719-9f74-4468-8c6b-0d3fee6279ba",
      "name": "Has Phone"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Edit Fields').item.json.message.chat.id }},\n  \"text\": \"📞 Спасибо! Ваш номер {{ $json.extracted.phone }} получен.\\n\\nМенеджер Александр перезвонит вам в ближайшее время! 🚀\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        -960
      ],
      "id": "651bc2e0-b383-4764-b84e-8ee8d99c2275",
      "name": "Thank You Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "04634be0-1129-4841-bed9-afaadad4f711",
              "leftValue": "={{ $json.message.voice ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1232,
        -688
      ],
      "id": "15504919-4dad-404e-a14a-d42eae51c26e",
      "name": "Is Voice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7860770360:AAEcCU2YAEgG6hrE52wJNxUtPCQGjDCwSQE/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.message.chat.id }},\n  \"text\": \"🎤 Спасибо за голосовое сообщение!\\n\\nК сожалению, я пока не умею их обрабатывать. Пожалуйста, напишите текстом:\\n\\n1️⃣ Ваше имя\\n2️⃣ Что вас интересует\\n3️⃣ Номер телефона\\n\\nИли нажмите кнопку ниже 👇\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [[{\"text\": \"📝 Оставить заявку\", \"callback_data\": \"request\"}]]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -992,
        -864
      ],
      "id": "1175988e-5f04-4c5d-9132-d660cf313d17",
      "name": "Voice Reply"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sfOA5102rWMMs34_F3QTIaD1v9_N0w6tAzjA5R-w72c/edit?gid=879270918#gid=879270918",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 879270918,
          "mode": "list",
          "cachedResultName": "Messages History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sfOA5102rWMMs34_F3QTIaD1v9_N0w6tAzjA5R-w72c/edit#gid=879270918"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ new Date(new Date().getTime() + 3*60*60*1000).toISOString().split('T')[0] }}",
            "Время": "={{ new Date(new Date().getTime() + 3*60*60*1000).toISOString().split('T')[1].substring(0, 5) }}",
            "User ID": "={{ $json.message.from.id }}",
            "Username": "={{ $json.message.from.username || '' }}",
            "Имя": "={{ $json.message.from.first_name || '' }}",
            "Сообщение": "={{ ($json.message.text || $json.message.voice ? '[Голосовое]' : '[Другое]').substring(0, 500) }}",
            "Тип": "={{ $json.message.voice ? 'Голосовое' : $json.message.text ? 'Текст' : 'Другое' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Время",
              "displayName": "Время",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Имя",
              "displayName": "Имя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Сообщение",
              "displayName": "Сообщение",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тип",
              "displayName": "Тип",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1440,
        -928
      ],
      "id": "540a39a5-9808-4363-9acc-9621e80c4586",
      "name": "Save Message History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J9i793A3S5vdil3F",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Extract Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Price Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contact Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Portfolio Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Trigger1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contacts": {
      "main": [
        [
          {
            "node": "Has Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Response": {
      "main": [
        [
          {
            "node": "Notify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spam Check": {
      "main": [
        [
          {
            "node": "Is Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Spam": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone": {
      "main": [
        [
          {
            "node": "Thank You Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thank You Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice": {
      "main": [
        [
          {
            "node": "Voice Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spam Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Reply": {
      "main": [
        [
          {
            "node": "Spam Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message History": {
      "main": [
        [
          {
            "node": "Is Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "89e6e5ce-4dad-4726-b0f5-c5fee0257e14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d995f39819eae463424ce11b40cade7eb28839254b296dac1182f5eca2ccad6"
  },
  "id": "Il7jPYJQoQEcBEFv",
  "tags": []
}